capture dashboard.json
[
    {
        "id": "a5ae78fb.00b468",
        "type": "tab",
        "label": "Test JS lib",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8517edfe.ed636",
        "type": "http in",
        "z": "a5ae78fb.00b468",
        "name": "",
        "url": "ocv",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "e38c6f3.aac5c9"
            ]
        ]
    },
    {
        "id": "e38c6f3.aac5c9",
        "type": "template",
        "z": "a5ae78fb.00b468",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n<meta charset=\"utf-8\">\n<title>Hello OpenCV.js</title>\n</head>\n<body>\n<h2>Hello OpenCV.js</h2>\n<p id=\"status\">OpenCV.js is loading...</p>\n<div>\n  <div class=\"inputoutput\">\n    <img crossorigin=\"anonymous\" id=\"imageSrc\" src=\"http://127.0.0.1:8887/capture-usb.jpeg\" alt=\"No Image\" />\n    <div class=\"caption\">imageSrc <input type=\"file\" id=\"fileInput\" name=\"file\" /></div>\n  </div>\n  <div class=\"inputoutput\">\n    <canvas id=\"canvasOutput\" width=800 height=800></canvas>\n    <div class=\"caption\">canvasOutput</div>\n  </div>\n</div>\n<script type=\"text/javascript\">\n\nlet imgElement = document.getElementById('imageSrc');\n// let inputElement = document.getElementById('fileInput');\n// inputElement.addEventListener('change', (e) => {\n//   imgElement.src = URL.createObjectURL(e.target.files[0]);\n// }, false);\n\n//---Output function-----//\n// imgElement.onload = function() {\n//   let dub = cv.imread(imgElement);\n\n//   cv.imshow('canvasOutput', dub);\n//   dub.delete();\n// };\n//--------//\n\n\n//---Countour function----//\nimgElement.onload = function() {\n  let src = cv.imread(imgElement);\n  let dst = cv.Mat.zeros(src.cols, src.rows, cv.CV_8UC3);\n  cv.cvtColor(src, src, cv.COLOR_RGBA2GRAY, 0);\n  cv.threshold(src, src, 120, 200, cv.THRESH_BINARY);\n  let contours = new cv.MatVector();\n  let hierarchy = new cv.Mat();\n  // You can try more different parameters\n  cv.findContours(src, contours, hierarchy, cv.RETR_CCOMP, cv.CHAIN_APPROX_SIMPLE);\n  // draw contours with random Scalar\n  for (let i = 0; i < contours.size(); ++i) {\n      let color = new cv.Scalar(Math.round(Math.random() * 255), Math.round(Math.random() * 255),\n                                Math.round(Math.random() * 255));\n      cv.drawContours(dst, contours, i, color, 1, cv.LINE_8, hierarchy, 100);\n  }\n  cv.imshow('canvasOutput', dst);\n  src.delete(); dst.delete(); contours.delete(); hierarchy.delete();\n}\n\nfunction onOpenCvReady() {\n  document.getElementById('status').innerHTML = 'OpenCV.js is ready.';\n}\n</script>\n<script src=\"http://localhost:1880/opencv/opencv.js\" onload=\"onOpenCvReady();\" type=\"text/javascript\"></script>\n</body>\n</html>",
        "output": "str",
        "x": 360,
        "y": 360,
        "wires": [
            [
                "a5f422c9.b4d39"
            ]
        ]
    },
    {
        "id": "a5f422c9.b4d39",
        "type": "http response",
        "z": "a5ae78fb.00b468",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 360,
        "wires": []
    },
    {
        "id": "ce9ad746.53cc08",
        "type": "ui_iframe",
        "z": "a5ae78fb.00b468",
        "group": "e51f3e46.71871",
        "name": "webpage",
        "order": 1,
        "width": "12",
        "height": "14",
        "url": "http://localhost:1880/cnt",
        "origin": "*",
        "x": 740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "fe6f8f06.1106c",
        "type": "comment",
        "z": "a5ae78fb.00b468",
        "name": "creat html index locally",
        "info": "",
        "x": 260,
        "y": 320,
        "wires": []
    },
    {
        "id": "b6dc927c.8eda5",
        "type": "comment",
        "z": "a5ae78fb.00b468",
        "name": "View webpage in dashboard",
        "info": "",
        "x": 280,
        "y": 440,
        "wires": []
    },
    {
        "id": "cd5bfee9.1e11f",
        "type": "http in",
        "z": "a5ae78fb.00b468",
        "name": "",
        "url": "cnt",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 740,
        "y": 380,
        "wires": [
            [
                "a5ad20da.00f47"
            ]
        ]
    },
    {
        "id": "a5ad20da.00f47",
        "type": "template",
        "z": "a5ae78fb.00b468",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html>\n<head>\n    <!-- <script type=\"text/javascript\" src=\"http://livejs.com/live.js\"></script> -->\n\t<script src=\"http://localhost:1880/opencv/js_source/opencv.js\" type=\"text/javascript\"></script>\n\t<script type =\"text/JavaScript\">\n         <!--\n            function AutoRefresh( t ) {\n               setTimeout(\"location.reload(true);\", t);\n            }\n         //-->\n    </script>\n\n    <script type=\"text/javascript\">\n    \tfunction getBase64Image(img) {\n\t\t    var canvas = document.createElement(\"canvas\");\n\t\t    canvas.width = img.width;\n\t\t    canvas.height = img.height;\n\n\t\t    var ctx = canvas.getContext(\"2d\");\n\t\t    ctx.drawImage(img, 0, 0);\n\n\t\t    var dataURL = canvas.toDataURL(\"image/png\");\n\n\t\t    return dataURL.replace(/^data:image\\/(png|jpg);base64,/, \"\");\n}\n    </script>\n\n    <script type=\"text/javascript\">\n        function dataURLtoFile(dataurl, filename) {\n            var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],\n                 bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);\n             while(n--){\n                u8arr[n] = bstr.charCodeAt(n);\n        }\n    return new File([u8arr], filename, {type:mime});\n}\n    </script>\n\n\t<meta charset=\"utf-8\">\n\t<title>Hello OpenCV.js</title>\n</head>\n\t<body onload = \"JavaScript:AutoRefresh(5000);\">\n    <p>Số lượng contours:</p>\n    <p id=\"len\"></p>\n\n\n\n\t<table>\n        <tr>\n            <th>source</th>\n            <th>output</th>\n    \n        </tr>\n        <tr>\n            <td>\n                <img crossorigin=\"anonymous\" src=\"http://localhost:1880/captured\" id=\"imageSrc\" style=\"width: 300px; height: 300px;\" />\n                <!--<img crossorigin=\"anonymous\" src=\"http://localhost:1880/opencv/capturenr/32.PNG\" id=\"imageSrc\" style=\"width: 300px; height: 300px;\" />-->\n            </td>\n            <td>\n                <canvas id=\"canvasOutput\" ></canvas>\n            </td>\n            \n        </tr>\n        <tr>\n            <td>\n            </td>\n        </tr>\n        <tr>\n            <td>\n                <input type=\"file\" id=\"fileInput\" />\n            </td>\n        </tr>\n    </table>\n    \n    <table>\n        <tr>\n            <th>ROIs</th>\n            <th>Result</th>\n        </tr>\n        <tr>\n            <td>\n                <canvas id=\"test\"></canvas>\n                <canvas id=\"test2\"></canvas>\n            </td>\n            <td>\n                <canvas crossorigin=\"anonymous\" id=\"result\"></canvas>\n            </td>\n        </tr>\n    </table>\n\n    <script src=\"http://localhost:1880/opencv/js_source/countour2.js\" type=\"text/javascript\"></script>\n    <script src=\"http://localhost:1880/opencv/js_source/d3.min.js\" type=\"text/javascript\"></script>\n    <!-- <script src=\"hist.js\" type=\"text/javascript\"></script> -->\n</body>\n</html>",
        "output": "str",
        "x": 880,
        "y": 380,
        "wires": [
            [
                "25ccb09b.4ee94"
            ]
        ]
    },
    {
        "id": "25ccb09b.4ee94",
        "type": "http response",
        "z": "a5ae78fb.00b468",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 380,
        "wires": []
    },
    {
        "id": "72ec5566.3541cc",
        "type": "comment",
        "z": "a5ae78fb.00b468",
        "name": "creat html index locally",
        "info": "",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "c1ed1cae.2934",
        "type": "comment",
        "z": "a5ae78fb.00b468",
        "name": "View webpage in dashboard",
        "info": "",
        "x": 800,
        "y": 540,
        "wires": []
    },
    {
        "id": "69bf1f50.a48a",
        "type": "ui_iframe",
        "z": "a5ae78fb.00b468",
        "group": "e51f3e46.71871",
        "name": "webpage",
        "order": 1,
        "width": "12",
        "height": "14",
        "url": "http://localhost:1880/hist",
        "origin": "*",
        "x": 900,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ff20d72f.9a1018",
        "type": "http in",
        "z": "a5ae78fb.00b468",
        "name": "",
        "url": "hist",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 740,
        "y": 460,
        "wires": [
            [
                "57d6dd53.f24b34"
            ]
        ]
    },
    {
        "id": "57d6dd53.f24b34",
        "type": "template",
        "z": "a5ae78fb.00b468",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\" >\n<head>\n  <!-- <script src=\"http://localhost:1880/opencv/opencv.js\" type=\"text/javascript\"></script> -->\n  <script type =\"text/JavaScript\">\n         <!--\n            function AutoRefresh( t ) {\n               setTimeout(\"location.reload(true);\", t);\n            }\n         //-->\n    </script>\n  <meta charset=\"UTF-8\">\n  <title>CodePen - Histogrammar</title>\n\n</head>\n<body onload = \"JavaScript:AutoRefresh(5000);\">\n<!-- partial:index.partial.html -->\n<div id=\"row\">\n  <input type=\"file\" id=\"imageFile\" accept=\".png, .jpg, .jpeg\"></input>\n  <button id=\"red\" class=\"focuser\">++R</button>\n  <button id=\"green\" class=\"focuser\">++G</button>\n  <button id=\"blue\" class=\"focuser\">++B</button>\n  <button id=\"blend\" class=\"focuser\">Blend</button>\n</div>\n<div id=\"row\"><svg width=\"1\" height=\"1\"></svg></div>\n<div id=\"row\"><canvas id=\"C\"></canvas></div>\n<!-- partial -->\n\n  <script src=\"http://localhost:1880/opencv/js_source/d3.min.js\" type=\"text/javascript\"></script>\n  <!-- <script src='countour2.js'></script> -->\n  <script  src=\"http://localhost:1880/opencv/js_source/hist.js\" type=\"text/javascript\"></script>\n  \n\n\n</body>\n</html>\n",
        "output": "str",
        "x": 880,
        "y": 460,
        "wires": [
            [
                "8c7f0849.862da8"
            ]
        ]
    },
    {
        "id": "8c7f0849.862da8",
        "type": "http response",
        "z": "a5ae78fb.00b468",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 460,
        "wires": []
    },
    {
        "id": "336225d2.63d84a",
        "type": "comment",
        "z": "a5ae78fb.00b468",
        "name": "creat html index locally",
        "info": "",
        "x": 780,
        "y": 420,
        "wires": []
    },
    {
        "id": "e51f3e46.71871",
        "type": "ui_group",
        "name": "Streaming3",
        "tab": "e1c33876.4757f8",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "e1c33876.4757f8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]